<div class="contentView">
    <div id="retailList" class="fourthBox tableBlock col m-6 l-6">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Retailer logo</th>
                    <th>Name</th>
                    <th>Website</th>
                    <th>Description</th>
                    <th colspan="2" class="align-center"><a class="btn btnSmall btnBlue" id="retCreate">Create</a></th>
                </tr>
            </thead>
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="15%">
                <col width="30%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <tbody id="retailContainer">

            </tbody>
        </table>
    </div>
    <div id="bigRetailerItem" class="fourthBox tableBlock col m-6 l-6">

    </div>
</div>