<tr id="<%= model.objectId%>" class="retItem">
    <td class="tLogo align-center" title="<%= model.logo || 'default image'%>"><img width="40px" height="40px" src="<%= model.logo || 'images/def_user.png'%>" alt="img"></td>
    <td class="tRetLogo align-center" title="<%= model.retailerLogo || 'default image'%>"><img width="40px" height="40px" src="<%= model.retailerLogo || 'images/def_user.png'%>" alt="img"></td>
    <td class="tRetName"><%- model.retailerName || ''%></td>
    <td class="tRetWeb"><%- model.website || ''%></td>
    <td class="tRetDescrip"><%- model.retailerDescription || ''%></td>
    <td class="align-center"><a class="retEditBtn btn btnSmall btnSuccess">Edit</a></td>
    <td class="align-center"><a class="retDelBtn btn btnSmall btnError">Delete</a></td>
</tr>