// Grid system

.col {
  min-height: 1px;
  float: left;
  position: relative;
  @include border-box();
  @include rem(padding-left, ($gutterWidth / 2));
  @include rem(padding-right, ($gutterWidth / 2));
}

$j: 1;
@for $i from $j through $numCols {
  $width: percentage($i / $numCols);
  .xs-#{$i} {
    width: $width;
  }
  .xs-offset-#{$i} {
    margin-left: $width;
  }
  .xs-pull-#{$i} {
    left: $width;
  }
  .xs-push-#{$i} {
    right: $width;
  }

  .xs-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: $smallScreen) {
  $j: 1;

  @for $i from $j through $numCols {
    $width: percentage($i / $numCols);
    .s-#{$i} {
      width: $width;
    }
    .s-offset-#{$i} {
      margin-left: $width;
    }
    .s-pull-#{$i} {
      left: $width;
    }
    .s-push-#{$i} {
      right: $width;
    }
  }

  .s-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: $mediumScreen) {
  $j: 1;

  @for $i from $j through $numCols {
    $width: percentage($i / $numCols);
    .m-#{$i} {
      width: $width;
    }
    .m-offset-#{$i} {
      margin-left: $width;
    }
    .m-pull-#{$i} {
      left: $width;
    }
    .m-push-#{$i} {
      right: $width;
    }
  }

  .m-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: $largeScreen) {
  $j: 1;

  @for $i from $j through $numCols {
    $width: percentage($i / $numCols);
    .l-#{$i} {
      width: $width;
    }
    .l-offset-#{$i} {
      margin-left: $width;
    }
    .l-pull-#{$i} {
      left: $width;
    }
    .l-push-#{$i} {
      right: $width;
    }
  }

  .l-offset-0 {
    margin-left: 0;
  }
}