/*** Typography ***/
.container, .container-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 15px;
  padding-right: 0.9375rem; }

html,
body, header .mainMenu {
  margin: 0;
  padding: 0; }

.container:before, .container-full:before, .row:before, .clearfix:before, header:before, .contentView:before, .container:after, .container-full:after, .row:after, .clearfix:after, header:after, .contentView:after {
  content: " ";
  display: table; }

.container:after, .container-full:after, .row:after, .clearfix:after, header:after, .contentView:after {
  clear: both; }

html, body,
div, span,
applet, object,
iframe, h1,
h2, h3,
h4, h5,
h6, p,
blockquote, pre,
a, abbr,
acronym, address,
big, cite,
code, del,
dfn, em,
img, ins,
kbd, q, s,
samp, small,
strike, strong,
sub, sup,
tt, var,
b, u, i,
center, dl,
dt, dd,
ol, ul, li,
fieldset, form,
label, legend,
table, caption,
tbody, tfoot,
thead, tr,
th, td, article,
aside, canvas,
details, embed,
figure, figcaption,
footer, header,
hgroup, menu,
nav, output,
ruby, section,
summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/lato/Lato-Regular.eot");
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/lato/Lato-Bold.eot");
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bold.woff2") format("woff2"), url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Lato Medium";
  src: url("../fonts/lato/Lato-Medium.eot");
  src: url("../fonts/lato/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Medium.woff2") format("woff2"), url("../fonts/lato/Lato-Medium.woff") format("woff"), url("../fonts/lato/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato/Lato-Light.eot");
  src: url("../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Light.woff2") format("woff2"), url("../fonts/lato/Lato-Light.woff") format("woff"), url("../fonts/lato/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Lato Semibold";
  src: url("../fonts/lato/Lato-Semibold.eot");
  src: url("../fonts/lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Semibold.woff2") format("woff2"), url("../fonts/lato/Lato-Semibold.woff") format("woff"), url("../fonts/lato/Lato-Semibold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
  background: #f1f1f1;
  color: #acacac; }

a {
  background-color: transparent;
  color: #afd5f0; }
  a:hover, a:focus, a:active {
    color: #84bee8;
    outline: 0; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

p {
  margin-bottom: 20px; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html {
  font-size: 87.5%; }
  @media (min-width: 992px) {
    html {
      font-size: 87.5%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 100%; } }

body {
  font-family: "Lato Regular", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato Bold", sans-serif; }

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  margin: 10px 0 15px;
  margin: 0.625rem 0 0.9375rem; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  margin: 10px 0 15px;
  margin: 0.625rem 0 0.9375rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 10px 0;
  margin: 0.625rem 0; }

h4 {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0;
  margin: 0.9375rem 0; }

h5 {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 20px 0;
  margin: 1.25rem 0; }

h6 {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 25px 0;
  margin: 1.5625rem 0; }

@media (min-width: 768px) {
  .container {
    max-width: 760px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.row {
  margin-left: -15px;
  margin-left: -0.9375rem;
  margin-right: -15px;
  margin-right: -0.9375rem; }

.col {
  min-height: 1px;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 15px;
  padding-right: 0.9375rem; }

.xs-1 {
  width: 8.3333333333%; }

.xs-offset-1 {
  margin-left: 8.3333333333%; }

.xs-pull-1 {
  left: 8.3333333333%; }

.xs-push-1 {
  right: 8.3333333333%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-2 {
  width: 16.6666666667%; }

.xs-offset-2 {
  margin-left: 16.6666666667%; }

.xs-pull-2 {
  left: 16.6666666667%; }

.xs-push-2 {
  right: 16.6666666667%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-3 {
  width: 25%; }

.xs-offset-3 {
  margin-left: 25%; }

.xs-pull-3 {
  left: 25%; }

.xs-push-3 {
  right: 25%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-4 {
  width: 33.3333333333%; }

.xs-offset-4 {
  margin-left: 33.3333333333%; }

.xs-pull-4 {
  left: 33.3333333333%; }

.xs-push-4 {
  right: 33.3333333333%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-5 {
  width: 41.6666666667%; }

.xs-offset-5 {
  margin-left: 41.6666666667%; }

.xs-pull-5 {
  left: 41.6666666667%; }

.xs-push-5 {
  right: 41.6666666667%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-6 {
  width: 50%; }

.xs-offset-6 {
  margin-left: 50%; }

.xs-pull-6 {
  left: 50%; }

.xs-push-6 {
  right: 50%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-7 {
  width: 58.3333333333%; }

.xs-offset-7 {
  margin-left: 58.3333333333%; }

.xs-pull-7 {
  left: 58.3333333333%; }

.xs-push-7 {
  right: 58.3333333333%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-8 {
  width: 66.6666666667%; }

.xs-offset-8 {
  margin-left: 66.6666666667%; }

.xs-pull-8 {
  left: 66.6666666667%; }

.xs-push-8 {
  right: 66.6666666667%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-9 {
  width: 75%; }

.xs-offset-9 {
  margin-left: 75%; }

.xs-pull-9 {
  left: 75%; }

.xs-push-9 {
  right: 75%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-10 {
  width: 83.3333333333%; }

.xs-offset-10 {
  margin-left: 83.3333333333%; }

.xs-pull-10 {
  left: 83.3333333333%; }

.xs-push-10 {
  right: 83.3333333333%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-11 {
  width: 91.6666666667%; }

.xs-offset-11 {
  margin-left: 91.6666666667%; }

.xs-pull-11 {
  left: 91.6666666667%; }

.xs-push-11 {
  right: 91.6666666667%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-12 {
  width: 100%; }

.xs-offset-12 {
  margin-left: 100%; }

.xs-pull-12 {
  left: 100%; }

.xs-push-12 {
  right: 100%; }

.xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .s-1 {
    width: 8.3333333333%; }
  .s-offset-1 {
    margin-left: 8.3333333333%; }
  .s-pull-1 {
    left: 8.3333333333%; }
  .s-push-1 {
    right: 8.3333333333%; }
  .s-2 {
    width: 16.6666666667%; }
  .s-offset-2 {
    margin-left: 16.6666666667%; }
  .s-pull-2 {
    left: 16.6666666667%; }
  .s-push-2 {
    right: 16.6666666667%; }
  .s-3 {
    width: 25%; }
  .s-offset-3 {
    margin-left: 25%; }
  .s-pull-3 {
    left: 25%; }
  .s-push-3 {
    right: 25%; }
  .s-4 {
    width: 33.3333333333%; }
  .s-offset-4 {
    margin-left: 33.3333333333%; }
  .s-pull-4 {
    left: 33.3333333333%; }
  .s-push-4 {
    right: 33.3333333333%; }
  .s-5 {
    width: 41.6666666667%; }
  .s-offset-5 {
    margin-left: 41.6666666667%; }
  .s-pull-5 {
    left: 41.6666666667%; }
  .s-push-5 {
    right: 41.6666666667%; }
  .s-6 {
    width: 50%; }
  .s-offset-6 {
    margin-left: 50%; }
  .s-pull-6 {
    left: 50%; }
  .s-push-6 {
    right: 50%; }
  .s-7 {
    width: 58.3333333333%; }
  .s-offset-7 {
    margin-left: 58.3333333333%; }
  .s-pull-7 {
    left: 58.3333333333%; }
  .s-push-7 {
    right: 58.3333333333%; }
  .s-8 {
    width: 66.6666666667%; }
  .s-offset-8 {
    margin-left: 66.6666666667%; }
  .s-pull-8 {
    left: 66.6666666667%; }
  .s-push-8 {
    right: 66.6666666667%; }
  .s-9 {
    width: 75%; }
  .s-offset-9 {
    margin-left: 75%; }
  .s-pull-9 {
    left: 75%; }
  .s-push-9 {
    right: 75%; }
  .s-10 {
    width: 83.3333333333%; }
  .s-offset-10 {
    margin-left: 83.3333333333%; }
  .s-pull-10 {
    left: 83.3333333333%; }
  .s-push-10 {
    right: 83.3333333333%; }
  .s-11 {
    width: 91.6666666667%; }
  .s-offset-11 {
    margin-left: 91.6666666667%; }
  .s-pull-11 {
    left: 91.6666666667%; }
  .s-push-11 {
    right: 91.6666666667%; }
  .s-12 {
    width: 100%; }
  .s-offset-12 {
    margin-left: 100%; }
  .s-pull-12 {
    left: 100%; }
  .s-push-12 {
    right: 100%; }
  .s-offset-0 {
    margin-left: 0; } }

@media (min-width: 992px) {
  .m-1 {
    width: 8.3333333333%; }
  .m-offset-1 {
    margin-left: 8.3333333333%; }
  .m-pull-1 {
    left: 8.3333333333%; }
  .m-push-1 {
    right: 8.3333333333%; }
  .m-2 {
    width: 16.6666666667%; }
  .m-offset-2 {
    margin-left: 16.6666666667%; }
  .m-pull-2 {
    left: 16.6666666667%; }
  .m-push-2 {
    right: 16.6666666667%; }
  .m-3 {
    width: 25%; }
  .m-offset-3 {
    margin-left: 25%; }
  .m-pull-3 {
    left: 25%; }
  .m-push-3 {
    right: 25%; }
  .m-4 {
    width: 33.3333333333%; }
  .m-offset-4 {
    margin-left: 33.3333333333%; }
  .m-pull-4 {
    left: 33.3333333333%; }
  .m-push-4 {
    right: 33.3333333333%; }
  .m-5 {
    width: 41.6666666667%; }
  .m-offset-5 {
    margin-left: 41.6666666667%; }
  .m-pull-5 {
    left: 41.6666666667%; }
  .m-push-5 {
    right: 41.6666666667%; }
  .m-6 {
    width: 50%; }
  .m-offset-6 {
    margin-left: 50%; }
  .m-pull-6 {
    left: 50%; }
  .m-push-6 {
    right: 50%; }
  .m-7 {
    width: 58.3333333333%; }
  .m-offset-7 {
    margin-left: 58.3333333333%; }
  .m-pull-7 {
    left: 58.3333333333%; }
  .m-push-7 {
    right: 58.3333333333%; }
  .m-8 {
    width: 66.6666666667%; }
  .m-offset-8 {
    margin-left: 66.6666666667%; }
  .m-pull-8 {
    left: 66.6666666667%; }
  .m-push-8 {
    right: 66.6666666667%; }
  .m-9 {
    width: 75%; }
  .m-offset-9 {
    margin-left: 75%; }
  .m-pull-9 {
    left: 75%; }
  .m-push-9 {
    right: 75%; }
  .m-10 {
    width: 83.3333333333%; }
  .m-offset-10 {
    margin-left: 83.3333333333%; }
  .m-pull-10 {
    left: 83.3333333333%; }
  .m-push-10 {
    right: 83.3333333333%; }
  .m-11 {
    width: 91.6666666667%; }
  .m-offset-11 {
    margin-left: 91.6666666667%; }
  .m-pull-11 {
    left: 91.6666666667%; }
  .m-push-11 {
    right: 91.6666666667%; }
  .m-12 {
    width: 100%; }
  .m-offset-12 {
    margin-left: 100%; }
  .m-pull-12 {
    left: 100%; }
  .m-push-12 {
    right: 100%; }
  .m-offset-0 {
    margin-left: 0; } }

@media (min-width: 1200px) {
  .l-1 {
    width: 8.3333333333%; }
  .l-offset-1 {
    margin-left: 8.3333333333%; }
  .l-pull-1 {
    left: 8.3333333333%; }
  .l-push-1 {
    right: 8.3333333333%; }
  .l-2 {
    width: 16.6666666667%; }
  .l-offset-2 {
    margin-left: 16.6666666667%; }
  .l-pull-2 {
    left: 16.6666666667%; }
  .l-push-2 {
    right: 16.6666666667%; }
  .l-3 {
    width: 25%; }
  .l-offset-3 {
    margin-left: 25%; }
  .l-pull-3 {
    left: 25%; }
  .l-push-3 {
    right: 25%; }
  .l-4 {
    width: 33.3333333333%; }
  .l-offset-4 {
    margin-left: 33.3333333333%; }
  .l-pull-4 {
    left: 33.3333333333%; }
  .l-push-4 {
    right: 33.3333333333%; }
  .l-5 {
    width: 41.6666666667%; }
  .l-offset-5 {
    margin-left: 41.6666666667%; }
  .l-pull-5 {
    left: 41.6666666667%; }
  .l-push-5 {
    right: 41.6666666667%; }
  .l-6 {
    width: 50%; }
  .l-offset-6 {
    margin-left: 50%; }
  .l-pull-6 {
    left: 50%; }
  .l-push-6 {
    right: 50%; }
  .l-7 {
    width: 58.3333333333%; }
  .l-offset-7 {
    margin-left: 58.3333333333%; }
  .l-pull-7 {
    left: 58.3333333333%; }
  .l-push-7 {
    right: 58.3333333333%; }
  .l-8 {
    width: 66.6666666667%; }
  .l-offset-8 {
    margin-left: 66.6666666667%; }
  .l-pull-8 {
    left: 66.6666666667%; }
  .l-push-8 {
    right: 66.6666666667%; }
  .l-9 {
    width: 75%; }
  .l-offset-9 {
    margin-left: 75%; }
  .l-pull-9 {
    left: 75%; }
  .l-push-9 {
    right: 75%; }
  .l-10 {
    width: 83.3333333333%; }
  .l-offset-10 {
    margin-left: 83.3333333333%; }
  .l-pull-10 {
    left: 83.3333333333%; }
  .l-push-10 {
    right: 83.3333333333%; }
  .l-11 {
    width: 91.6666666667%; }
  .l-offset-11 {
    margin-left: 91.6666666667%; }
  .l-pull-11 {
    left: 91.6666666667%; }
  .l-push-11 {
    right: 91.6666666667%; }
  .l-12 {
    width: 100%; }
  .l-offset-12 {
    margin-left: 100%; }
  .l-pull-12 {
    left: 100%; }
  .l-push-12 {
    right: 100%; }
  .l-offset-0 {
    margin-left: 0; } }

.btn {
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  font-family: "Lato Semibold", sans-serif;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  outline: 0;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid; }
  .btnLarge {
    width: auto;
    padding: 0 15px;
    height: 40px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 38px;
    line-height: 2.375rem; }
  .btnMedium {
    width: auto;
    padding: 0 10px;
    height: 40px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 38px;
    line-height: 2.375rem; }
  .btnSmall {
    width: auto;
    padding: 0 10px;
    height: 30px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 28px;
    line-height: 1.75rem; }
  .btnBlue {
    border-color: #489bd6;
    color: #489bd6; }
    .btnBlue:hover {
      background-color: #489bd6; }
      .btnBlue:hover a {
        color: #ffffff; }
    .btnBlue a {
      color: #489bd6;
      text-decoration: none; }
  .btnError {
    border-color: #fd5143;
    color: #fd5143; }
    .btnError:hover {
      background-color: #fd5143; }
  .btnSuccess {
    border-color: #4fbb59;
    color: #4fbb59; }
    .btnSuccess:hover {
      background-color: #4fbb59; }
  .btnDisable {
    border-color: #cbdbe6;
    color: #cbdbe6; }
    .btnDisable:hover {
      background-color: #cbdbe6; }
  .btn:hover {
    color: #ffffff; }

#createBtn {
  margin-bottom: 15px; }

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: #ffffff;
  border: 1px solid #acacac;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active,
  input[type="password"]:hover,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="email"]:hover,
  input[type="email"]:focus,
  input[type="email"]:active {
    border-color: #afd5f0; }

textarea {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #acacac;
  width: 100%;
  height: 140px;
  resize: none;
  outline: 0; }
  textarea:hover, textarea:focus, textarea:active {
    border-color: #afd5f0; }

.formCheck {
  margin: 20px 0 10px; }
  .formCheck input {
    display: none; }
  .formCheck label {
    position: relative;
    cursor: pointer;
    display: block;
    color: #4f5054;
    padding-right: 34px; }
    .formCheck label:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -3px;
      width: 24px;
      height: 7px;
      background-color: #92c7e1;
      border-radius: 3px; }
    .formCheck label:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 11px;
      border-radius: 50%;
      margin-top: -7px;
      width: 15px;
      height: 15px;
      background-color: #36aee9;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  .formCheck input:checked + label:after {
    right: -2px; }

.checkItem input {
  display: none; }

.checkItem label {
  display: inline-block;
  box-shadow: inset 0 0 0 2px #ffffff;
  border: 2px solid #36aee9;
  width: 20px;
  height: 20px; }

.checkItem input:checked + label {
  background: #36aee9; }

.wrapper {
  position: relative;
  height: 100%;
  width: 100%; }

.section {
  padding-top: 15px;
  padding-bottom: 15px; }
  .section-title {
    font-family: "Lato Bold", sans-serif;
    font-size: 34px;
    font-size: 2.125rem; }

.footerFixed {
  min-height: 100%;
  position: relative; }
  .footerFixed body {
    min-height: 1px;
    height: 100%;
    margin-bottom: calc(100px + 20px); }
  .footerFixed .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%; }

.img-cover {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.img-contain {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain; }

.img-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.img-thumb {
  padding: 4px;
  border: 1px solid #acacac;
  background-color: #f1f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%; }
  table tbody {
    max-width: 100%; }
  table th, table td {
    padding: 11px 10px;
    text-align: left;
    border: 1px solid #cccccc;
    color: #868686;
    border-bottom: none;
    border-right: none;
    font-size: 14px;
    font-size: 0.875rem; }
    table th:last-child, table td:last-child {
      border-right: 1px solid #cccccc; }
  table th {
    background: #f8f8f8;
    color: #4f5054;
    font-family: "Lato Bold", sans-serif; }
  table tr:last-child td {
    border-bottom: 1px solid #cccccc; }
  table tr:hover {
    background: #f5f9fa; }
  table tr.active {
    background: #f1f1f1; }

header {
  height: 40px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background: #ffffff; }
  header .logoutLink {
    float: right;
    margin: 5px 10px 0 0; }
    header .logoutLink a {
      text-decoration: none; }
  header .mainMenu {
    list-style: none;
    float: left; }
    header .mainMenu li {
      float: left; }
      header .mainMenu li a {
        display: block;
        padding: 0 30px;
        height: 40px;
        background: #ffffff;
        color: #4f5054;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 40px;
        line-height: 2.5rem;
        font-size: 14px;
        font-size: 0.875rem;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        header .mainMenu li a.active {
          background: #489bd6;
          color: #ffffff; }
        header .mainMenu li a:hover {
          background: #afd5f0;
          color: #ffffff; }

header {
  display: none; }

.loggedState header {
  display: block; }

.contentView {
  margin: 0 15px 15px;
  padding: 15px 0;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
  background: #ffffff; }

.retailerBlock div {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;
  position: relative; }
  .retailerBlock div img {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 15px;
    bottom: 15px;
    background: #ffffff; }
  .retailerBlock div span {
    position: absolute;
    bottom: 70px;
    left: 130px;
    font-family: "Lato Regular", sans-serif;
    background: #f1f1f1;
    padding: 5px 10px;
    color: #4f5054;
    line-height: 20px;
    line-height: 1.25rem;
    font-size: 14px;
    font-size: 0.875rem; }

.accordionBlock .ui-accordion-header-active {
  background: #afd5f0;
  border-color: #afd5f0;
  outline: none !important; }

.accordionBlock #styleViewContainer,
.accordionBlock #cardViewContainer {
  padding: 15px; }
  .accordionBlock #styleViewContainer button,
  .accordionBlock #cardViewContainer button {
    margin-bottom: 10px; }

.loginBlock {
  background: #ffffff;
  margin-top: 70px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15); }
  .loginBlock .formBlock {
    padding: 30px; }
  .loginBlock h2 {
    color: #4f5054;
    font-size: 22px;
    font-size: 1.375rem; }
  .loginBlock p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 19px;
    line-height: 1.1875rem; }
  .loginBlock .formItem label {
    display: block;
    color: #4f5054;
    margin: 20px 0 10px; }
  .loginBlock a {
    display: inline-block;
    margin: 10px 0 30px;
    font-size: 12px;
    font-size: 0.75rem; }
  .loginBlock .createAdmin {
    margin-top: 20px; }

.hide {
  display: none !important; }
  @media (max-width: 767px) {
    .hide-xs {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .hide-s {
      display: none !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hide-m {
      display: none !important; } }
  @media (min-width: 1200px) {
    .hide-l {
      display: none !important; } }

.show {
  display: block !important; }
  @media (max-width: 767px) {
    .show-xs {
      display: block !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .show-s {
      display: block !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .show-m {
      display: block !important; } }
  @media (min-width: 1200px) {
    .show-l {
      display: block !important; } }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.overflow-hidden {
  overflow: hidden !important; }

.overflow-auto {
  overflow: auto !important; }

.no-padding {
  padding: 0 !important; }
  @media (max-width: 767px) {
    .no-padding-xs {
      padding: 0 !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .no-padding-s {
      padding: 0 !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .no-padding-m {
      padding: 0 !important; } }
  @media (min-width: 1200px) {
    .no-padding-l {
      padding: 0 !important; } }

.no-margin {
  margin: 0 !important; }
  @media (max-width: 767px) {
    .no-margin-xs {
      margin: 0 !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .no-margin-s {
      margin: 0 !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .no-margin-m {
      margin: 0 !important; } }
  @media (min-width: 1200px) {
    .no-margin-l {
      margin: 0 !important; } }

/*# sourceMappingURL=main.css.map */