// Login or authorization form
.loginBlock {
  background: $white;
  margin-top: 70px;
  box-shadow: 0 1px 2px 1px rgba($black, .15);

  .formBlock {
    padding: 30px;
  }

  h2 {
    color: $loginTextColor;
    @include rem(font-size, 22px);
  }

  p{
    @include rem(font-size, 14px);
    @include rem(line-height, 19px);
  }

  .formItem {
    label {
      display: block;
      color: $loginTextColor;
      margin: 20px 0 10px;
    }
  }
  a {
    display: inline-block;
    margin: 10px 0 30px;
    @include rem(font-size, 12px);
  }
  .createAdmin{
    margin-top: 20px;
  }
}