<%
    var hasRetailers = collection.length;
    if (hasRetailers) {
%>
    <h2>Following retailers</h2>
    <table>
        <thead>
        <tr id="retailersInfo">
            <th>Logo</th>
            <th>Brand</th>
            <th>Website</th>
        </tr>
        </thead>
        <tbody>
<% for (var index = hasRetailers - 1; index >=0; index -= 1) { %>
    <tr id="<%= collection[index].objectId%>" class="info usrRetItemRow">
        <td class="align-center"><img width="40px" height="40px" src="<%= collection[index].retailerLogo || 'styles/libs/images/def_user.png'%>" alt="img" /></td>
        <td><%= collection[index].retailerName %></td>
        <td><%= collection[index].website %></td>
    </tr>
<% } %>
        </tbody>
    </table>
<% } else { %>
    <h1>Such user did not follow any retailer</h1>
<% } %>

