<div id="dialog-form">
    <!-- Change user's props fields -->
    <label>FirstName</label>
    <input type="text" id="firstName" value="<%= firstName %>" class="text ui-widget-content ui-corner-all">
    <label>LastName</label>
    <input type="text" id="lastName" value="<%= lastName %>" class="text ui-widget-content ui-corner-all">
    <label>Email</label>
    <input type="text" id="email" value="<%= email %>" class="text ui-widget-content ui-corner-all">

    <!-- Control buttons -->
    <input type="button" value="Save" id="saveBtn"/>
    <input type="button" value="Cancel" id="cancelBtn"/>
</div>
